/* .cards{
    height: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 500px;
    flex-wrap: wrap;
} */

/* .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards 
    display: flex;
justify-content: center;
} */

/* .card {
    /* background-color: #f0f0f0; */
    /* padding: 20px; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* text-align: center; */
    /* flex: 1 0 calc(33.333% - 20px);  
    max-width: calc(33.333% - 20px); /* Adjust according to the number of cards you want to display per row 
} */

/* For responsiveness, you may want to adjust the number of cards per row */
/* @media (max-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 20px); /* Adjust for two cards per row on smaller screens 
        max-width: calc(50% - 20px); /* Adjust for two cards per row on smaller screens 
    }
} */

/* .details{
    display: flex;
    justify-content: space-between; 
}
.card-prop{
    background-color: #E7F2FF;
    padding: 10px;
    border-radius: 10%;
    color: #5373E7;
} */
/* .card-link{
    text-decoration: none; 
} */
/* p{
    margin: 5px;
} */
.smallCards span{
    background-color: rgba(83, 115, 231,0.2);
    color: #5373E7;
}
.card{
    border-color: white;
    cursor: pointer;
}