<div class="navbar">
    <div class="logo">
        <img src="assets/wovac.png" alt="logo">
      </div>
    <div class="tabs">
      <span><i class="pi pi-home" style="color: #708090"></i><a href="#">Home</a></span>
      <span><i class="pi pi-briefcase" style="color: #708090"></i><a href="#">Applied Jobs</a></span>
      <span><i class="pi pi-bookmark-fill" style="color: #708090"></i><a href="#">Saved Jobs</a></span>
      <span><i class="pi pi-user" style="color: #708090"></i><a href="#">Profile</a></span>
    </div>
    <!-- <div class="logout"> -->
      <div class="card flex flex-wrap gap-3 justify-content-center" style="margin-right:20px ;">
        <p-button label="logout" [outlined]="true" severity="danger" ></p-button>
    <!-- </div> -->
    </div>
  </div>