<div class="modal-background">
    <div class="modal-card  ">
     <div class="dd-icon d-flex justify-content-between">
         <div class="d-icon">
          <h4>Delete Job Post</h4>
          <p>Are you sure about deleting job post <span>{{jobDetail.jobName}}</span>?</p>
         </div>
         <div class="icon ms-5" (click)="onCloseModal()">
             <i class="pi pi-times"></i>
         </div>
     </div>
      <div class="buttons d-flex justify-content-end">
        <button class="btn cancel me-2" (click)="onCloseModal()">Cancel</button>
        <button class="btn delete" (click)="deleteJobPost($event)">Delete</button>
      </div>
    </div>
   </div>