<!-- <app-navbar-company></app-navbar-company> -->

<div class="container mt-4">
    <span class="p-2 me-2 cursor">
      <i class="pi pi-arrow-left bg-white rounded-5 p-2 me-1" [routerLink]="['/posts-detail',jobId]"></i>
      <span>Applicants for <span class="job fw-bolder">{{jobDetail.jobName}}</span> Job </span>
    </span>
  
    <div class="row mt-3">
      <div class="col-md-4" *ngFor="let applicant of applicants">
        <div class="card bg-white rounded-3 p-2 pt-3 pb-3" (click)="openModal(applicant)">
          <div class="content d-flex  ">
            <div class="image me-3 ps-1">
              <img [src]="picture" class="w-100" alt="">
            </div>
            <div class="text ">
                <h6 class="fw-bolder">{{ applicant.firstName }} {{applicant.lastName}}</h6>
               <ul>
                <li class="fs-6">{{ applicant.jobTitle }}
                 </li>
                 <li> {{applicant.education }}</li>
               </ul>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <app-applicant-modal *ngIf="selectedApplicant" [applicant]="selectedApplicant" (closeModal)="closeModal()"></app-applicant-modal>
