<!-- <app-navbar-company></app-navbar-company> -->


<div class="container bg-white mt-5 mb-4 rounded-4  p-3">
    <div class="acc p-3 d-flex justify-content-between">
        <h6 >Account Details</h6>
         <div class="buttons">
            <!-- <button class="btn reset-btn"> Reset</button> -->
            <button class="btn save-btn ms-2" (click)="editProfile($event)">Save changes</button>
         </div>
    </div>
    <div class="header d-flex justify-content-center flex-column align-items-center p-2">
        <div class="image d-flex justify-content-center">
            <label for="profilePicture" class="profile-picture-label d-flex justify-content-center align-items-center flex-column">
               <div class="image w-25">
                  <img [src]="companyData.profilePicture ?? userFrame" name="profilePicture" class="profile-picture rounded-circle ms-5" alt="" />

                </div>
              <div class="me-4">         
                <button class="btn change" (click)="inputField.click()">Change Logo</button>
                <input #inputField type="file" hidden name="profilePicture" id="profilePicture" (change)="uploadImage($event)">
             </div>          
               </label>
            <!-- <input type="file" id="profilePicture" class="profile-picture-input" (change)="handleProfilePictureChange($event)"> -->
          </div>
          <form class="ms-5" >
         <div class="container">
            <div class="row ">
                
                <div class="col-md-6 mb-2 d-flex justify-content-center align-items-center">
                  <div class="content w-75">
                    <label for="email">Eamil</label>
                    <input name="email" type="email" class="form-control " id="email"  [placeholder]="companyData.email"
                    [(ngModel)]="formData.email">
                  </div>
                </div>
                
                <div class="col-md-6 mb-2">
                    <label for="companyname">Company Name</label>
                    <input name="companyname" type="tel" class="form-control w-75" [placeholder]="companyData.name" [(ngModel)]="formData.name">
                </div>
                <div class="col-md-6 mb-2 d-flex justify-content-center align-items-center">
                   <div class="content w-75">
                    <label for="pass">Password</label>
                    <div class="input-group  d-flex justify-content-between">
                        <input name="pass" [type]="showPassword ? 'text' : 'password'"  id="pass" 
                          class="form-control " [placeholder]="companyData.password" [(ngModel)]="formData.password">
                        <span class="input-group-text" (click)="togglePasswordVisibility()">
                          <i [class]="showPassword ? 'pi ' + eyeIcon: 'pi ' + eyeSlashIcon"></i>
                        </span>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="phoneNumber">Phone number</label>
                    <input name="phoneNumber" type="tel"  class="form-control w-75" [placeholder]="companyData.phoneNumber" [(ngModel)]="formData.phoneNumber">
                </div>
               
                <div class="col-md-6 mb-3 d-flex justify-content-center align-items-center ">
                   <div class="content w-75">
                    <label for="education">City</label>
                    <input name="education" type="text"  id="education" class="form-control "
                    [placeholder]="companyData.address.city" [(ngModel)]="formData.city">
                   </div>
                </div>
                <div class="col-md-6">
                    <label for="job">Industry</label>
                    <input name="job" type="text" class="form-control  w-75" id="job" [placeholder]="companyData.industry" [(ngModel)]="formData.industry">

                </div>
                <div class="col-md-6 mb-2 d-flex justify-content-center align-items-center">
                   <div class="content w-75">
                    <label for="area">Area</label>
                    <input type="text" name="area" id="area" [placeholder]="companyData.address.area" [(ngModel)]="formData.area" class="form-control ">
                   </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="website">Website</label>
                    <input type="text" name="website" id="website" [placeholder]="companyData.website" [(ngModel)]="formData.website" class="form-control w-75">
                </div>
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                   <div class="content over me-5">
                    <label for="overview">Overview</label>
                    <textarea name="overview" class="form-control" cols="8" rows="4" id="overview" [placeholder]="companyData.overview" [(ngModel)]="formData.overview" ></textarea>

                   </div>
                </div>
            </div>
         </div>
          </form>
    </div>
</div>