/* Navbar styles */
.navbar {
    background-color: white;
    overflow: hidden;
  }

  .navbar-nav .nav-link.active {
    background-color: rgba(83, 115, 231,0.2);
    color: #5373E7;
    border-radius: 20px;
}